<div class="container mt-5">
    <h2>Hello world</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic distinctio eos accusamus, modi delectus maiores esse consectetur ducimus exercitationem iste quas? Autem repellat qui est ex ea, mollitia earum impedit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt vitae placeat excepturi reiciendis doloribus est, eligendi eos cum numquam corporis minus maiores rerum rem, necessitatibus ipsum officiis doloremque facilis. Dolore.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nemo ipsam ut blanditiis alias molestiae provident magnam dignissimos asperiores exercitationem esse reiciendis cum distinctio, voluptatem iure vero adipisci id similique!</p>
    <p><mark>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis ut voluptatibus nostrum, ratione temporibus perspiciatis iste! Illo, corrupti nemo eos ad harum cupiditate quae sequi eveniet repellat aliquam velit? Consectetur?</mark></p>
    <form class="form-group">
        <input type="text" class="mt-2">
        <br>
        <input type="text" class="mt-2">
        <br>
        <input type="password" class="mt-2">
        <br>
        <input type="submit" class="btn btn-success mt-4">
    </form>
    <div>
        
            <p> <%=obj.name%> </p>
            <p> <%=obj.price%></p>

    </div>
</div>